@import url(http://fonts.googleapis.com/css?family=Lato:400,700italic);
* { padding: 0; margin: 0; }
body { background: ; font-family: 'Lato', sans-serif; text-transform: uppercase; letter-spacing: 1px;}


header {
    text-align: center;
    height: 3em;
    padding: 1em 5%;
    background: #2c3e50;
    color: #fff;
    margin: 0;
}
    
   form {
     padding: 0 0.6em;
    white-space: nowrap;
 
}



 footer { /* Нижняя часть */
    background: #2c3e50; /* Цвет фона */
    height: 4;
    font-size: 90%; /* Размер шрифта */
    padding: 3px; /* Поля вокруг текста */
margin: 0;
   }

   #content { /* Основное содержание страницы */
    height: 675px;
    background-image: url(.jpg); /* Путь к фоновому изображению */
    background-color: #1abc9c; /* Цвет фона */
margin: 0;
}


