@charset “utf-8”;

* {
margin: 0;
padding: 0;

}

body {
width: 100%;
height: 100%;
color: #333;
background: #f7f7f7;
font-size: 1em;
font-family: “Segoe UI”, sans-serif;
line-height: 135%;

}


header, footer {
width: 100%;
background-color: #fff;
min-height: 50px;
}

header {
border-botton: 2px solid silver;

}

footer {
border-top: 2px solid silver;
margin-top: 10px;

}
